{#- This Jinja template collects information regarding the current and expected host list and the expected groups
        from the eseries_storage_pool_configuration variable.
#}

{%- set current_hosts = {} %}
{%- set hosts = {} %}
{%- set host_groups = {} %}

{%- for pool in eseries_storage_pool_configuration %}
  {%- for volume in pool["volumes"] %}

    {%- if (volume["state"] | default(eseries_volume_state)) != "absent" and "host" in (volume.keys()|list) %}

      {#- Add host group hosts #}
      {%- if volume["host"] in (groups.keys()|list) %}
        {%- if volume["host"] not in (host_groups.keys()|list) %}

          {#- *** Add all expected group hosts *** #}
          {%- for expected_host in groups[volume["host"]] %}
            {%- if hosts.update({expected_host: volume["host"]}) %}{%- endif %}
          {%- endfor %}

          {#- *** Determine if group exists on the storage array and any hosts associated *** #}
          {%- set group_current_hosts = [] %}
          {%- for group in storage_array_facts["storage_array_facts"]["netapp_host_groups"] %}
            {%- if volume["host"] == group["id"] or volume["host"] == group["name"] %}
              {%- for current_host in storage_array_facts["storage_array_facts"]["netapp_hosts"] %}

                {%- if group["id"] == current_host["group_id"] %}
                  {%- if group_current_hosts.append(current_host["name"]) %}{%- endif %}
                  {%- if current_hosts.update({ current_host["name"]: {"group": volume["host"], "ports": (current_host["ports"]|default([])) }}) %}{%- endif %}
                {%- endif %}

              {%- endfor %}
            {%- endif %}
          {%- endfor %}

          {#- Added host group and any currently associated hosts to the hostgroup dictionary #}
          {%- if host_groups.update({volume["host"]: group_current_hosts}) %}{%- endif %}
        {%- endif %}

      {#- Add host targets #}
      {%- elif volume["host"] not in (hosts.keys()|list) %}
        {%- if hosts.update({volume["host"]: None}) %}{%- endif %}
      {%- endif %}

    {%- endif %}
  {%- endfor %}
{%- endfor %}
{{ { "current_hosts": current_hosts, "expected_hosts": hosts, "groups": host_groups } }}