{#- This Jinja template creates a list of netapp_e_volume module options from eseries* variables #}

{%- set complete_volume_list=[] %}
{%- for storage_pool_info in eseries_storage_pool_configuration %}
  {%- for storage_pool in (storage_pool_info["name"]|patternize(inventory=hostvars[inventory_hostname])) %}
    {%- for volumes in storage_pool_info["volumes"] %}
      {%- for volume_name in (volumes["name"]|patternize(inventory=(hostvars[inventory_hostname] | from_yaml), storage_pool=storage_pool)) %}

        {%- if "common_volume_configuration" in (storage_pool_info.keys() | list) %}
          {%- if complete_volume_list.append({
             "state": volumes["state"] | default(eseries_storage_pool_state | default("present")),
             "name": volume_name,
             "storage_pool_name": storage_pool,
             "size": volumes["size"] | default(storage_pool_info["common_volume_configuration"]["size"] | default(eseries_storage_pool_criteria_size | default(omit))),
             "size_unit": volumes["size_unit"] | default(storage_pool_info["common_volume_configuration"]["size_unit"] | default(eseries_storage_pool_criteria_size | default(omit))),
             "workload_name": volumes["workload_name"] | default(storage_pool_info["common_volume_configuration"]["workload_name"] | default(eseries_volume_workload_name | default(omit))),
             "metadata": volumes["metadata"] | default(storage_pool_info["common_volume_configuration"]["metadata"] | default(eseries_volume_metadata | default(omit))),
             "host": volumes["host"] | default(storage_pool_info["common_volume_configuration"]["host"] | default(eseries_volume_host | default(omit))) }) %}
          {%- endif %}

        {%- elif complete_volume_list.append({
           "state": volumes["state"] | default(eseries_storage_pool_state | default("present")),
           "name": volume_name,
           "storage_pool_name": storage_pool,
           "size": volumes["size"] | default(eseries_storage_pool_criteria_size | default(omit)),
           "size_unit": volumes["size_unit"] | default(eseries_storage_pool_criteria_size | default(omit)),
           "workload_name": volumes["workload_name"] | default(eseries_volume_workload_name | default(omit)),
           "metadata": volumes["metadata"] | default(eseries_volume_metadata | default(omit)),
           "host": volumes["host"] | default(eseries_volume_host | default(omit)) }) %}
        {%- endif %}

      {%- endfor %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}
{{ complete_volume_list | list }}
